:root{
    --body-background: green;
    --main-background: #76b5c5;
    --button-color-0: #af7216;
    --button-color-1: #5d5d7ec9;
    --button-color-2: #bb6161;
    --button-color-second: yellow;
    --border-focus-line: 2px solid #31e70c;
    --border-fixed: solid #000000 0.5px;
    --hover-color: #6c806e ;
    --text-input-fieled: gray; 

}   

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-size: medium;
}

body{
    color: white;
    font-family: system-ui;
    /* margin: 4px 80px; */
}
button, .head, #total{
    background-color: var(--button-color-2);
}

.crud{
    display: flex;
    flex-direction: column;
    /* background-color: var(--main-background); */
    width: 80%;
    padding: 1em .5em;
    gap: .5em;
    margin: auto;
}  
input{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    outline: none;
    border: var(--border-fixed);
    margin: 4px 0px;
    padding: 0px 7px;
    /* background-color: #e9e9e9; */
    
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    text-align: center;
    text-transform: uppercase;
    /* margin: 25px 0; */
    border-radius: 15px;
}
  
.inputs-div{
    padding: 0 5px;
    /* margin: 8px 0; */
    border-radius: 15;
}    
#total{
    padding: 10px 10px;
    border-radius: 8px;
    height: 45px;
    width: 1200px;
    text-align: center;
    font-size:smaller;   
}
.outputs{
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 10px 0;
    border-radius: 15px;
}

input:focus{
    transform: scale(1.01);
    border: var(--border-focus-line);
}  
.price{
    display: flex;
    align-items: center;
    gap: 10px;
}  
button{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    padding: 4px 0;
    outline: none;
    border: none;
    color: white;
    margin: 3px 0 0 0;

}
button:hover, .btnSearch button:hover, #total:hover{
    /* transform: scale(1.02); */
    background-color: var(--hover-color);
    letter-spacing: 0.05em;    
}
.btnSearch{
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
    width: 100%;
    height: 30px;
    /* margin: 4px 0; */
}

#deleteAll{
    margin: 20px 0;
    /* background-color: blueviolet; */
    /* height: 90px; */
}
table{
    width: 100%;
    margin: 10px 0;
    text-align: center;
    /* background-color: var(--button-color-1); */
    color: #000000;
    /* font: bold; */
} 
table th{
    text-transform: uppercase;
}
td{
    padding: 5px;
    background-color: #cfb4b4;
    border-radius: 15px;
    border-spacing: 30px;
}
.tableHead{
    background-color: #bb6161;
    height: 60px;
    border-radius: 15px;
    /* margin: 2000px 0; */
 }