*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(104, 104, 104);
    color: white;
    font-family: system-ui;
    padding: 4px;
}
input{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    outline: none;
    border: none;
    margin: 4px 0px;
    padding: 0px 7px;
    
}
.crud{
    width: 80%;
    padding: 20px 0;
    margin: auto;
}  
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    background-color: rgb(170, 117, 135);
    text-align: center;
    text-transform: uppercase;
    margin: 8px 0;
    border-radius: 15px;
    font-weight: bold;
}
  
.inputs{
    /* background-color: darkseagreen; */
    padding: 0 5px;
    margin: 8px 0;
    border-radius: 15;
}    
#total{
    background-color: brown;
    padding: 10px 50px;
    border-radius: 8px;
    font-size: large;
}
#total:hover{
    transform: scale(1.5);
}
.outputs{
    /* background-color: rgb(187, 209, 166); */
    padding: 10px 5px;
    margin: 8px 0;
    border-radius: 15px;
}

input:focus{
    background-color: rgb(207, 207, 207);
    transform: scale(1.01);
}    
.price input{
    /* display: flex;
    flex-direction:inherit */
    width: 19%;
    /* padding: 0px 10px; */
}

button{
    background-color: rgb(65, 82, 160);
    width: 100%;
    height: 40px;
    border-radius: 7px;
    padding: 4px 0;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: large;
}
button:hover, .btnSearch button:hover, #total:hover{
    transform: scale(1.02);
    background-color: rgb(97, 111, 238);
    letter-spacing: 1px;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    margin: 8px 0;
}
.btnSearch button{
    width: 45%;
    background-color: rgb(65, 82, 160);
    color: rgb(255, 255, 255);
    font-weight: bold;
} 